{% extends "base.layout.twig" %}

{% block title %}À Propos | Cédric Abt — Illustrateur{% endblock %}
{% block bodyattr %}id="top"{% endblock %}

{% block header %}
	<header class="AltHeader">

		<div class="AltHeader-navPrev NavPrev">
			<a href="{{ app.path(app.config.route.names.home) }}" title="projets"><span>&#8592;</span> projets</a>
		</div>

		<h4 class="AltHeader-altTagline AltTagline">
			Cédric Abt
			<img class="AltTagline-logoSmall LogoSmall" src="{{ app.asset('/assets/static/logo-small.png') }}" alt="logo - renard">
			Illustrateur
		</h4>

		<div class="AltHeader-navNext NavNext">
			<a href="{{ app.path(app.config.route.names.contact) }}" title="contact">contact <span>&#8594;</span></a>
		</div>

	</header>
{% endblock header %}
{% block content %}
	<section class="Content">
		<img class="Content-imgAbout ImgAbout center" src="{{ app.asset('/assets/static/illu-about.png') }}" alt="illustration – à propos">
		{% autoescape false %}
			{{ content }}
		{% endautoescape %}
	</section>
{% endblock content %}
