{% extends "base.layout.twig" %}

{% block title %}Cédric Abt — Illustrateur{% endblock %}
{% block bodyattr %}id="top"{% endblock %}

{% block header %}
	{% include '_main_header.twig' %}
{% endblock header %}
{% block content %}
	<section class="ProjectList">
		<ul class="ProjectList-ul">
			{%- for project in projects -%}
				<li class="ProjectList-projectListItem ProjectListItem" >
					<a class="ProjectListItem-a" href="{{ app.path(app.config.route.names.project, {name: project.getUrlSlug}) }}" title="{{ project.getTitle }}">
						{% if project.getThumbName is not empty %}
							<img src="{{ app.asset(project.getAssetPath ~ '/' ~ project.getThumbName) }}" alt="{{ project.getTitle }} - aperçu">
						{% else %}
							<img src="{{ app.asset('/assets/static/default-thumb.png') }}" alt="{{ project.getTitle }} - aperçu">
						{% endif %}
						<div>
							<div>
								<h2 class="ProjectListItem-title">{{ project.getTitle }}</h2>
							</div>
						</div>
					</a>
				</li>
			{%- endfor -%}
		</ul>
	</section>
{% endblock content %}
