{% extends "base.layout.twig" %}

{% block title %}Cédric Abt — Illustrateur{% endblock %}

{%  block body %}
	<a id="haut"></a>
	<header class="HomeHeader">
		<div class="HomeHeader-logoBig">
			<img class="LogoBig" src="{{ app.asset('/assets/img/logo.png') }}" alt="logo - renard">
		</div>
		<h1 class="HomeHeader-homeTagline HomeTagline">Cédric Abt — Illustrateur</h1>
	</header>
	<nav class="HomeNav">
		<ul>
			<li class="HomeNav-li active">projets</li>
			<li class="HomeNav-li"><a href="{{ app.path(app.config.route.names.about) }}" title="à propos">à propos</a></li>
			<li class="HomeNav-li"><a href="{{ app.path(app.config.route.names.contact) }}" title="contact">contact</a></li>
		</ul>
	</nav>
	<section class="ProjectList">
		<ul class="ProjectList-ul">
			{%- for project in projects -%}
				<li class="ProjectList-projectListItem ProjectListItem">
					<a class="ProjectListItem-a" href="{{ app.path(app.config.route.names.project, {name: project.getUrlSlug}) }}" title="{{ project.getTitle }}">
						{% if project.getThumbName is not empty %}
							<img src="{{ app.asset(project.getAssetPath ~ '/' ~ project.getThumbName) }}" alt="{{ project.getTitle }} - aperçu">
						{% else %}
							<img src="{{ app.asset('/assets/img/default-thumb.png') }}" alt="{{ project.getTitle }} - aperçu">
						{% endif %}
						<div>
							<div>
								<h2 class="ProjectListItem-title">{{ project.getTitle }}</h2>
							</div>
						</div>
					</a>
				</li>
			{%- endfor -%}
		</ul>
	</section>
	<footer class="Footer textcenter">
		<div class="Footer-topButton">
			<a class="TopButton" href="#haut" title="retour en haut">
				<img src="{{ app.asset('/assets/img/top-arrow.png') }}" alt="flêche vers le haut">
			</a>
		</div>
		<p class="Footer-credits Credits">
			Cédric Abt – {{ "now"|date("Y", "Europe/Paris") }}
			<br>
			fait main par <a href="http://rgsone.com" title="rgsone.com">rgsone</a>
		</p>
	</footer>
{% endblock body %}
