{% extends "base.layout.twig" %}

{% block title %}Cédric Abt — Illustrateur{% endblock %}
{% block bodyattr %}id="top"{% endblock %}

{% block header %}
	<header class="HomeHeader">
		<div class="HomeHeader-logoBig">
			<img class="LogoBig" src="{{ app.asset('/assets/static/logo.png') }}" alt="logo - renard">
		</div>
		<h1 class="HomeHeader-homeTagline HomeTagline">Cédric Abt</h1>
		<h2 class="HomeHeader-homeSubTagline HomeSubTagline">Illustrateur</h2>
		<div class="HomeHeader-homeSeparator HomeSeparator">~</div>
	</header>
	<nav class="HomeNav">
		<ul>
			<li class="HomeNav-li active"><span>projets</span></li>
			<li class="HomeNav-li"><a href="{{ app.path(app.config.route.names.about) }}" title="à propos">à propos</a></li>
			<li class="HomeNav-li"><a href="{{ app.path(app.config.route.names.contact) }}" title="contact">contact</a></li>
		</ul>
	</nav>
{% endblock header %}
{% block content %}
	<section class="ProjectList">
		<ul class="ProjectList-ul">
			{%- for project in projects -%}
				<li class="ProjectList-projectListItem ProjectListItem" >
					<a class="ProjectListItem-a" href="{{ app.path(app.config.route.names.project, {name: project.getUrlSlug}) }}" title="{{ project.getTitle }}">
						{% if project.getThumbName is not empty %}
							<img src="{{ app.asset(project.getAssetPath ~ '/' ~ project.getThumbName) }}" alt="{{ project.getTitle }} - aperçu">
						{% else %}
							<img src="{{ app.asset('/assets/static/default-thumb.png') }}" alt="{{ project.getTitle }} - aperçu">
						{% endif %}
						<div>
							<div>
								<h2 class="ProjectListItem-title">{{ project.getTitle }}</h2>
							</div>
						</div>
					</a>
				</li>
			{%- endfor -%}
		</ul>
	</section>
{% endblock content %}
