{% extends "base.layout.twig" %}

{% block title %}{{ project.getTitle }} | Cédric Abt — Illustrateur{% endblock %}

{%  block body %}
	<a id="top"></a>
	<header class="AltHeader">
		<img class="AltHeader-logoSmall LogoSmall" src="{{ app.asset('/assets/static/logo-small.png') }}" alt="logo - renard">
		<h4 class="AltHeader-altTagline AltTagline">Cédric Abt — Illustrateur</h4>
		<nav class="AltHeader-altNav AltNav">
			<ul>
				<li class="AltNav-li"><a href="{{ app.path(app.config.route.names.home) }}" title="projets">projets</a></li>
				<li class="AltNav-li"><a href="{{ app.path(app.config.route.names.about) }}" title="projets">à propos</a></li>
				<li class="AltNav-li"><a href="{{ app.path(app.config.route.names.contact) }}" title="contact">contact</a></li>
			</ul>
		</nav>
	</header>
	<div class="Content">
		<section class="Content-project Project">
			<h1 class="Project-h1">{{ project.getTitle }}</h1>
			<p class="Project-info">{{ project.getInfos }}</p>
			<div class="Project-desc">
				{# autoescape off because is textile content #}
				{% autoescape false %}
					{{ project.getParsedDescContent }}
				{% endautoescape %}
			</div>
			<div class="Project-projectImg">
				{% for img in project.getImages %}
					<img class="ProjectImg" src="{{ app.asset(project.getAssetPath ~ '/' ~ img) }}" alt="{{ img }}">
				{% endfor %}
			</div>
		</section>
	</div>
	<footer class="Footer alt">
		<div class="Footer-topButton">
			<a class="TopButton" href="#top" title="retour en haut" data-backtotop>
				<img src="{{ app.asset('/assets/static/top-arrow.png') }}" alt="flêche vers le haut">
			</a>
		</div>
	</footer>
{% endblock body %}
